*{
    margin: 0;
    padding: 0;
}

 
 
body{
    height: 100vh;
    background-color: black !important;
}
 
@font-face {
  font-family:Angels ;
  src: url() format('opentype');
}
.lomas{
  font-family:Angels ;
 }

.navbar_bg{
  background: url("../assets/image/bg_header.jpg") no-repeat center;
  height: 500px;
  background-size: cover;
  background-position: center;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    
}
 
  
.text_order{
 font-size: 30px;
    
}
 
 

@keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
  }
  
  .image_pizza {
    animation: zoomIn 2s ease-in-out;
    /* Puedes ajustar la duración y la función de temporización según tus necesidades */
  }  


 