*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
}
header{
    background: url("../assets/image/bg_header.jpg") no-repeat center;
    background-size: center;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    
}
.header_text{
    padding-top: 200px;
    margin-right: 100px;
    padding-left: 50px;
    font-size: 10vh;
    
    color: white;
    letter-spacing: 2px;
}

.text_order{
 font-size: 30px;
    
}

.aboutme {
    position: relative;
}

.aboutme::before {
    content: "";
    background: url("../assets/image/aboutbg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6; /* ajusta este valor para cambiar la opacidad */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

