*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
}
header{
    background: url("../assets/image/bg_header.jpg") no-repeat center;
    background-size: center;

}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    
}
.header_text{
    padding-top: 200px;
    margin-right: 100px;
    padding-left: 50px;
    font-size: 10vh;
    
    color: white;
    letter-spacing: 2px;
}

.text_order{
 font-size: 30px;
    
}

